body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.block1{
    width: 25%;
    height:100%;
    background: linear-gradient( to left, rgb(0, 119, 128), blue);
    padding: 10px;
}

.block2{
    width: 25%;
    height:100%;
    background: conic-gradient(#1f1ccf, #ff9800);
}

.block3{
    width: 25%;
    height:100%;
    background: radial-gradient(circle, #ff0000, #fffb00);
}

.block4{
    width: 25%;
    height:100%;
    background: radial-gradient(circle at top left, #0008ff, #ff7700)
}

.block1 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: "\2705";
}
    
.block1 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70;
    height: 70px;
}

.block2 li,.block3 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block2 li:hover, .block3 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70;
    height: 70px;
}

.block4 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 100px;
    list-style-type: square;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block4 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70;
    height: 70px;
}
   
.nav{
    position: sticky;
    top: 0;
}



.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-size: 20px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    float: left;
}

.nav a:hover{
    background-color: brown;
    color: black;



}

.block5{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: aquamarine;
}


.btn1{
    width: 300px;
    height: 70px;
    background-color: brown;
    color: white;
    padding: 15px 30px;
    font-size: 30px;
    text-align: left ;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 8px 16px black;
    cursor: pointer;
}

.btn1:hover{
    background-color: antiquewhite;
    color: black;
    border: 2px solid  black;
    box-shadow: 0px 0px 0px black;
}

.btn1:active {
    background-color: #3e8e41;
    color: yellow;
}


.btn2{
    width: 300px;
    height: 70px;
    background-color:rgb(12, 82, 122);
    color: white;
    padding: 15px 30px;
    font-size: 30px;
    text-align: left ;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 8px 16px black;
    cursor: pointer;
}


.btn2:hover{
    background-color: antiquewhite;
    color: black;
    border: 2px solid  black;
    box-shadow: 0px 0px 0px black;
}

.btn2:active {
    background-color: #905be6;
    color: rgb(221, 115, 180);
}



